{% extends 'base.html.twig.' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}

    <div class="container">
        <div class="row mt-3">
            <h1>
                {{ participant.pseudo }}
            </h1>
            <div class="row mt-5">
                <div class="col-md-6 profil-image">
                    {% if participant.filename %}
                        <img src="{{ vich_uploader_asset(participant, 'imageFile') }}" alt="{{ participant.filename }}">
                    {% endif %}
                </div>
                <div class="col-md-6">

                    <p>Nom : {{ participant.nom }}</p>
                    <p>Prenom : {{ participant.prenom }}</p>
                    <p>Numéro de telephone : {{ participant.telephone }}</p>
                    <p>Email : {{ participant.email }}</p>
                    <p>Campus : {{ participant.site.nom }}</p>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if (app.user.id == participant.id) %}
                            <a href="{{ path('participant_updateParticipant',{id:participant.id}) }}">
                                <button class="btn btn-warning">Modifier profil</button>
                            </a>
                        {% endif %}
                        <a href="{{ path('sortie_list',{id:participant.id}) }}">
                            <button class="btn btn-primary">Retour</button>
                        </a>
                    </div>
                </div>


        </div>
    </div>


{% endblock %}