{% extends 'base.html.twig.' %}

{% block title %}List{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 class="text-center">
                    Details Sortie
                </h3>
                <br>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <p>Nom de la sortie : {{ sortie.nom }}</p>
                        <p>Date et heure de la sortie : {{ sortie.dateHeureDebut|date('d/m/Y h:i') }} </p>
                        <p>Date limite d'inscription : {{ sortie.dateLimiteInscription|date('d/m/Y') }}</p>
                        <p>Nombre de places : {{ sortie.nbInscriptionsMax }}</p>
                        <p>Durée : {{ sortie.duree }} minutes</p>
                        <p>Description et infos : {{ sortie.infoSortie }}</p>
                        <p>Motif d'annulation : {{ sortie.motif }}</p>


                    </div>
                    <div class="col-md-6 text-center">
                        <p>Organisateur : <a href="{{ path('participant_participant', {id: sortie.organizateur.id}) }}">{{ sortie.organizateur.nom }}</a></p>
                        <p>Ville organisatrice : {{ sortie.organizateur.site.nom }}</p>
                        <p>Lieu : {{ sortie.lieu.nom }}</p>
                        <p>Rue: {{ sortie.lieu.rue }}</p>
                        <p>Code postal: {{ sortie.lieu.ville.codePostal }}</p>
                        <p>Latitude: {{ sortie.lieu.latitude }}</p>
                        <p>Longitude: {{ sortie.lieu.longitude }}</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h5 class="card-title">Liste des participants inscrits:</h5>
                <table class="table table-striped table-responsive description-sortie mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participant in sortie.listeParticipants %}
                        <tr>
                            <td>{{ participant.pseudo }}</td>
                            <td>{{ participant.prenom }} {{ participant.nom }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>


{% endblock %}