{% extends 'base.html.twig.' %}

{% block title %}List{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">

            {{ form_start(formSearch) }}

            {{ form_label(formSearch.nom) }}
            {{ form_widget(formSearch.nom) }}
            {{ form_errors(formSearch.nom)}}

            {{ form_label(formSearch.site) }}
            {{ form_widget(formSearch.site) }}
            {{ form_errors(formSearch.site)}}

            {{ form_end(formSearch) }}
            <table class="table table-striped table-responsive sorties mt-3">
                <thead>
                <tr>
                    <th scope="col">Nom de la Sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Cloture</th>
                    <th scope="col">inscrits/places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organizateur</th>
                    <th scope="col">Site</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% if (sorties) %}
                {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date('d/m/Y h:i') }}</td>
                    <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                    <td>{{ sortie.listeParticipants.count }}/{{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% for participant in sortie.listeParticipants %}
                            {% if(app.user.id == participant.id) %}
                                x
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('participant_participant', {id: sortie.organizateur.id}) }}">{{ sortie.organizateur.nom }}</a>
                    </td>
                    <td>{{ sortie.organizateur.site.nom}}</td>
                    <td>
                        {% if (app.user.id == sortie.organizateur.id and sortie.etat.id == 1) %}
                        <a href="{{ path('sortie_publier', {id: sortie.id}) }}">Publier</a>
                                <a href="{{ path('sortie_updateSortie', {id: sortie.id}) }}">Modifier</a>
                                        <a href="{{ path('sortie_deleteSortie', {id: sortie.id}) }}">Supprimer</a>

                        {% endif %}

                        {% if (app.user.id != sortie.organizateur.id and sortie.etat.id == 2 ) %}

                                {% for participant in sortie.listeParticipants %}
                                    {% if(app.user.id == participant.id) %}
                                        <a href="{{ path('sortie_desister', {id: sortie.id}) }}">desister</a>
                                        {% else %}
                                            <a href="{{ path('sortie_participer', {id: sortie.id}) }}">participer</a>
                                    {% endif %}
                                {% endfor %}
                            {% if (sortie.listeParticipants.count == 0 )  %}
                                <a href="{{ path('sortie_participer', {id: sortie.id}) }}">participer</a>
                            {% endif %}
                        {% endif %}

                        {% if (sortie.etat.id != 1 ) %}
                           <a href="{{ path('sortie_detail', {id: sortie.id}) }}">Aficher</a>
                        {% endif %}
                                   {% if (app.user.id == sortie.organizateur.id and sortie.etat.id == 2 ) %}
                                   <a href="{{ path('sortie_anuler', {id: sortie.id}) }}">Anuller</a>
                                           {% endif %}


                    </td>

                </tr>
                {% endfor %}
                {% endif %}
                </tbody>

            </table>
        </div>
    </div>
</div>

{% endblock %}
