{% extends 'base.html.twig' %}

{% block title %}Ajout d'une sortie{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h3 class="text-center">
                    Créer une sortie
                </h3>
                {{ form_start(sortieFormView) }}
                {{ form_errors(sortieFormView) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_label(sortieFormView.nom) }}
                        {{ form_widget(sortieFormView.nom) }}
                        {{ form_errors(sortieFormView.nom) }}

                        {{ form_label(sortieFormView.dateHeureDebut) }}
                        {{ form_widget(sortieFormView.dateHeureDebut) }}
                        {{ form_errors(sortieFormView.dateHeureDebut) }}

                        {{ form_label(sortieFormView.dateLimiteInscription) }}
                        {{ form_widget(sortieFormView.dateLimiteInscription) }}
                        {{ form_errors(sortieFormView.dateLimiteInscription) }}

                        {{ form_label(sortieFormView.nbInscriptionsMax) }}
                        {{ form_widget(sortieFormView.nbInscriptionsMax) }}
                        {{ form_errors(sortieFormView.nbInscriptionsMax) }}

                        {{ form_label(sortieFormView.duree) }}
                        {{ form_widget(sortieFormView.duree) }}
                        {{ form_errors(sortieFormView.duree) }}

                        {{ form_label(sortieFormView.infoSortie) }}
                        {{ form_widget(sortieFormView.infoSortie) }}
                        {{ form_errors(sortieFormView.infoSortie) }}

                    </div>
                    <div class="col-md-6 ">
                        {{ form_label(sortieFormView.ville) }}
                        {{ form_widget(sortieFormView.ville) }}
                        {{ form_errors(sortieFormView.ville) }}

                        {{ form_label(sortieFormView.lieu) }}
                        {{ form_widget(sortieFormView.lieu) }}
                        {{ form_errors(sortieFormView.lieu) }}
                        {{ form_end(sortieFormView) }}
                        <div class="header"><span>Ajouter un lieu</span>

                        </div>
                        <div id="lieuForm">
                        {{ form_start(lieuFormView) }}
                        {{ form_label(lieuFormView.nom) }}
                        {{ form_widget(lieuFormView.nom) }}
                        {{ form_errors(lieuFormView.nom) }}

                        {{ form_end(lieuFormView) }}
                        </div>
                    </div>

                </div>

                <a href="{{ path('sortie_list') }}" class="btn btn-success">Retour</a>
            </div>
        </div>
    </div>
    <script>
        console.log("Hello World");
        var $ville = $('#sortie_form_ville')
        var $token = $('#sortie_form__token')
        $ville.change(function (){
            var $form = $(this).closest('form')
            var data = {}
            data[$token.attr('name')] =$token.val()
            data[$ville.attr('name')] = $ville.val()

            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    // Replace current position field ...
                    $('#sortie_form_lieu').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#sortie_form_lieu')
                    );
                    // Position field now displays the appropriate positions.
                }
        })
        });

        $(".header").click(function () {

            $header = $(this);
            //getting the next element
            $content = $header.next();
            //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
            $content.slideToggle(500, function () {
                //execute this after slideToggle is done
                //change text of header based on visibility of content div
                $header.text(function () {
                    //change text based on condition
                    return $content.is(":visible") ? "Lieu:" : "Ajouter un lieu";
                });
            });

        });
    </script>
{% endblock %}

