{% extends 'base.html.twig' %}

{% block title %}Ajout d'une sortie{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Que voulez-vous faire ?</h1>
                {{ form_start(sortieFormView) }}
                {{ form_errors(sortieFormView) }}

                {{ form_label(sortieFormView.nom) }}
                {{ form_widget(sortieFormView.nom) }}
                {{ form_errors(sortieFormView.nom) }}

                {{ form_label(sortieFormView.dateHeureDebut) }}
                {{ form_widget(sortieFormView.dateHeureDebut) }}
                {{ form_errors(sortieFormView.dateHeureDebut) }}

                {{ form_label(sortieFormView.duree) }}
                {{ form_widget(sortieFormView.duree) }}
                {{ form_errors(sortieFormView.duree) }}

                {{ form_label(sortieFormView.dateLimiteInscription) }}
                {{ form_widget(sortieFormView.dateLimiteInscription) }}
                {{ form_errors(sortieFormView.dateLimiteInscription) }}

                {{ form_label(sortieFormView.nbInscriptionsMax) }}
                {{ form_widget(sortieFormView.nbInscriptionsMax) }}
                {{ form_errors(sortieFormView.nbInscriptionsMax) }}

                {{ form_label(sortieFormView.infoSortie) }}
                {{ form_widget(sortieFormView.infoSortie) }}
                {{ form_errors(sortieFormView.infoSortie) }}


                {{ form_end(sortieFormView) }}
            </div>
        </div>
    </div>
{% endblock %}
