{% extends 'base.html.twig.' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                {% if (participant) %}
                    <div class="card" style="">
                        <div class="card-body">
                            <h5 class="card-title">{{ participant.nom }}</h5>
                            <h5 class="card-title">{{ participant.id }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ participant.pseudo }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{ participant.prenom }}</h6>
                            <a href="{{ path('administrator_personne',{id:participant.id}) }}">
                                delete


                                {{ form_start(updateSortieForm) }}
                                {{ form_label(updateSortieForm.actif) }}
                                {{ form_widget(updateSortieForm.actif) }}
                                {{ form_errors(updateSortieForm.actif) }}
                                {{ form_end(updateSortieForm) }}


                        </div>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}