{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{{ path('app_register') }}">Inscrire un participant</a>
                <a href="{{ path('administrator_sites') }}">Liste Sites</a>
                <a href="{{ path('administrator_villes') }}">Liste Villes</a>
                <a href="{{ path('administrator_listSortie') }}">Liste Sorties</a>
                <a href="{{ path('administrator_listParticipants') }}">Liste Participants</a>

            </div>
        </div>
    </div>

{% endblock %}
