{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="btn-group mt-3">
                    <a href="{{ path('administrator_sites') }}" class="btn btn-warning">Liste Sites</a>
                    <a href="{{ path('administrator_villes') }}" class="btn btn-warning">Liste Villes</a>
                    <a href="{{ path('administrator_listSortie') }}" class="btn btn-warning">Liste Sorties</a>
                    <a href="{{ path('administrator_listParticipants') }}" class="btn btn-warning">Liste
                        Participants</a>
                    <a href="{{ path('app_register') }}">
                        <button type="button" class="btn btn-success ms-3">Inscrire un participant</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
