{% extends 'base.html.twig' %}

{% block title %}Liste des participants{% endblock %}

{% block body %}
    <div class="container" id="listeParticipants">
        <div class="row">
            <div class="col">

                {{ form_start(searchFormParticipant) }}

                {{ form_label(searchFormParticipant.pseudo) }}
                {{ form_widget(searchFormParticipant.pseudo) }}
                {{ form_errors(searchFormParticipant.pseudo) }}

                {{ form_end(searchFormParticipant) }}
                <table class="table ">
                    <thead>
                    <tr>
                        <th scope="col">Pseudo utilisateur</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Adresse email</th>
                        <th scope="col">Telephone</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if (participants) %}
                        {% for participant in participants %}
                            <tr>
                                <td>
                                    <a href="{{ path('administrator_detail', {id: participant.id}) }}">{{ participant.pseudo }}</a>
                                </td>
                                <td>{{ participant.nom }}</td>
                                <td>{{ participant.prenom }}</td>
                                <td>{{ participant.email }}</td>
                                <td>{{ participant.telephone }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
