{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row mt-3 mb-3">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        {{ form_start(formSearchSite) }}
                        {{ form_errors(formSearchSite) }}

                        {{ form_label(formSearchSite.nom) }}
                        {{ form_widget(formSearchSite.nom) }}
                        {{ form_errors(formSearchSite.nom) }}

                        {{ form_end(formSearchSite) }}

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 extension">
                        <table class="table table-striped table-responsive sites">
                            <thead>
                            <tr>
                                <th scope="col">Sites</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if (sites) %}
                                {% for site in sites %}
                                    <tr>
                                        <td>{{ site.nom }}</td>
                                        <td>
                                            <a href="{{ path('administrator_deleteSite',{id:site.id}) }}"><i
                                                        class="fas fa-trash"></i></a>
                                            {# <a href="#"><i class="fas fa-pencil-alt"></i></a> #}
                                        </td>


                                    </tr>
                                {% endfor %}
                            {% endif %}
                            <tr>
                                {{ form_start(formViewSite) }}
                                <td>
                                    {{ form_label(formViewSite.nom) }}
                                    {{ form_widget(formViewSite.nom) }}
                                    {{ form_errors(formViewSite.nom) }}
                                </td>
                                <td>
                                    <button type="submit" class="btn-primary btn">Submit</button>
                                </td>
                                {{ form_end(formViewSite) }}
                            </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}