{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row mt-3 mb-3">
                    <div class="col-md-6"></div>
                    <div class="col-md-6  form-search">
                        {{ form_start(formSearchVille) }}
                        {{ form_errors(formSearchVille) }}

                        {{ form_label(formSearchVille.nom) }}
                        {{ form_widget(formSearchVille.nom) }}
                        {{ form_errors(formSearchVille.nom) }}

                        {{ form_end(formSearchVille) }}

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 villes">
                        <table class="table table-striped table-responsive villes">
                            <thead>
                            <tr>
                                <th scope="col">Ville</th>
                                <th scope="col">Code postal</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if (villes) %}
                                {% for ville in villes %}
                                    <tr>
                                        <td>{{ ville.nom }}</td>
                                        <td>{{ ville.codePostal }}</td>
                                        <td>
                                            <a href="{{ path('administrator_deleteVille',{id:ville.id}) }}"><i
                                                        class="fas fa-trash"></i></a>
                                            {# <a href="#"><i class="fas fa-pencil-alt"></i></a> #}
                                        </td>


                                    </tr>
                                {% endfor %}
                            {% endif %}
                            <tr>
                                {{ form_start(formViewVille) }}
                                <td>
                                    {{ form_label(formViewVille.nom) }}
                                    {{ form_widget(formViewVille.nom) }}
                                    {{ form_errors(formViewVille.nom) }}
                                </td>
                                <td>
                                    {{ form_label(formViewVille.codePostal) }}
                                    {{ form_widget(formViewVille.codePostal) }}
                                    {{ form_errors(formViewVille.codePostal) }}
                                </td>
                                <td>
                                    <button type="submit" class="btn-primary btn">Submit</button>
                                </td>
                                {{ form_end(formViewVille) }}
                            </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}